##########################
# KEDRO PROJECT

# ignore all local configuration
conf/local/**
!conf/local/.gitkeep
.telemetry

# ignore potentially sensitive credentials files
conf/**/*credentials*

# ignore everything in the following folders
data/**
logs/**

# except their sub-folders
!data/**/
!logs/**/

# also keep all .gitkeep files
!.gitkeep

# also keep the example dataset
!data/01_raw/iris.csv


##########################
# Common files

# IntelliJ
.idea/
*.iml
out/
.idea_modules/

### macOS
*.DS_Store
.AppleDouble
.LSOverride
.Trashes

# Vim
*~
.*.swo
.*.swp

# emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

# JIRA plugin
atlassian-ide-plugin.xml

# C extensions
*.so

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
.ipython/profile_default/history.sqlite
.ipython/profile_default/startup/README

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# mypy
.mypy_cache/
lightning_logs/version_0/events.out.tfevents.1631858801.ripper.3262274.0
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1631859068.ripper.3288381.0
lightning_logs/version_1/hparams.yaml
lightning_logs/version_10/events.out.tfevents.1631861422.ripper.3518293.0
lightning_logs/version_10/hparams.yaml
lightning_logs/version_11/events.out.tfevents.1631861634.ripper.3538083.0
lightning_logs/version_11/hparams.yaml
lightning_logs/version_12/events.out.tfevents.1631861752.ripper.3550798.0
lightning_logs/version_12/hparams.yaml
lightning_logs/version_13/events.out.tfevents.1631862028.ripper.3575775.0
lightning_logs/version_13/hparams.yaml
lightning_logs/version_14/events.out.tfevents.1631862203.ripper.3593519.0
lightning_logs/version_14/events.out.tfevents.1631862350.ripper.3593519.1
lightning_logs/version_14/hparams.yaml
lightning_logs/version_15/events.out.tfevents.1631862639.ripper.3634361.0
lightning_logs/version_15/events.out.tfevents.1631862785.ripper.3634361.1
lightning_logs/version_15/hparams.yaml
lightning_logs/version_16/events.out.tfevents.1631889314.ripper.1959274.0
lightning_logs/version_16/hparams.yaml
lightning_logs/version_17/events.out.tfevents.1631889635.ripper.1989757.0
lightning_logs/version_17/hparams.yaml
lightning_logs/version_18/events.out.tfevents.1631890379.ripper.2061072.0
lightning_logs/version_18/events.out.tfevents.1631890525.ripper.2061072.1
lightning_logs/version_18/hparams.yaml
lightning_logs/version_19/events.out.tfevents.1631895027.ripper.2442133.0
lightning_logs/version_19/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1631859501.ripper.3329350.0
lightning_logs/version_2/hparams.yaml
lightning_logs/version_20/events.out.tfevents.1631897631.ripper.2753660.0
lightning_logs/version_20/hparams.yaml
lightning_logs/version_21/events.out.tfevents.1631897951.ripper.2783797.0
lightning_logs/version_21/hparams.yaml
lightning_logs/version_22/events.out.tfevents.1631898047.ripper.2792239.0
lightning_logs/version_22/hparams.yaml
lightning_logs/version_23/events.out.tfevents.1631898129.ripper.2801373.0
lightning_logs/version_23/hparams.yaml
lightning_logs/version_24/events.out.tfevents.1631899072.ripper.2832539.0
lightning_logs/version_24/hparams.yaml
lightning_logs/version_25/events.out.tfevents.1631900065.ripper.2927351.0
lightning_logs/version_25/hparams.yaml
lightning_logs/version_26/events.out.tfevents.1631902371.ripper.3201742.0
lightning_logs/version_26/hparams.yaml
lightning_logs/version_27/events.out.tfevents.1631902516.ripper.3215814.0
lightning_logs/version_27/hparams.yaml
lightning_logs/version_28/events.out.tfevents.1631903276.ripper.3288136.0
lightning_logs/version_28/hparams.yaml
lightning_logs/version_29/events.out.tfevents.1631903714.ripper.3311338.0
lightning_logs/version_29/hparams.yaml
lightning_logs/version_3/events.out.tfevents.1631859945.ripper.3372737.0
lightning_logs/version_3/hparams.yaml
lightning_logs/version_30/events.out.tfevents.1631908184.ripper.3742946.0
lightning_logs/version_30/hparams.yaml
lightning_logs/version_31/events.out.tfevents.1631909606.ripper.3879387.0
lightning_logs/version_31/hparams.yaml
lightning_logs/version_32/events.out.tfevents.1631912925.ripper.31863.0
lightning_logs/version_32/hparams.yaml
lightning_logs/version_4/events.out.tfevents.1631860120.ripper.3389056.0
lightning_logs/version_4/hparams.yaml
lightning_logs/version_5/events.out.tfevents.1631860186.ripper.3394735.0
lightning_logs/version_5/hparams.yaml
lightning_logs/version_6/events.out.tfevents.1631860628.ripper.3438085.0
lightning_logs/version_6/events.out.tfevents.1631860767.ripper.3438085.1
lightning_logs/version_6/hparams.yaml
lightning_logs/version_7/events.out.tfevents.1631860834.ripper.3458811.0
lightning_logs/version_7/hparams.yaml
lightning_logs/version_8/events.out.tfevents.1631861075.ripper.3481536.0
lightning_logs/version_8/hparams.yaml
lightning_logs/version_9/events.out.tfevents.1631861325.ripper.3507684.0
lightning_logs/version_9/hparams.yaml
